<h2>本当に退会しますか？</h2>

<p>
  退会すると、全てのサービスがご利用いただけなくなります。<br>
  また、会員登録情報やこれまでの投稿、作成したメモ等も閲覧できなくなります。<br>
  退会する場合は、「退会する」をクリックしてください。
</p>


<%= link_to "退会しない", my_page_path %>
<%= link_to "退会する", withdrawal_path, method: :patch, data: { confilm: "本当に退会しますか？" } %>