<h2>会員コメント一覧</h2>

<table class="table">
	<thead>
		<th>会員ID</th>
		<th>画像</th>
		<th>ニックネーム</th>
		<th>コメント</th>
		<th></th>
	</thead>

	<tbody>

	</tbody>
</table>

<div id="comment_all_index_<%= @comments.ids %>">
      	<%= render "comment_all", comments: @comments %>
    </div>
