<h2><%= @end_user.nickname %>のコメント一覧</h2>

<table class="table">
	<thead>
		<th>コメントしたメモ</th>
		<th></th>
		<th>コメント本文</th>
		<th>コメント日時</th>
		<th></th>
	</thead>

	<tbody>
	  <div id="comment_index_<%= @end_user.id %>">
      	<%= render "comments", end_user: @end_user %>
    </div>
	</tbody>
</table>



