<div class="container">


  <div class="row mt-md-5">
    <div class="col-md-3">
      <%= render "public/end_users/sidebar", end_user: @end_user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="mb-md-0">
        <table class="table table-borderless">
          <tr>
            <td class="group_name">グループ一覧</td>
            <td align="center"><%=link_to "グループを作成する", new_group_path, class: "btn-square-shadow" %></td>
          </tr>
        </table>
      </div>
      <%= render "index", groups: @groups %>
    </div>
  </div>


  <div class="row" style="text-align:center;">
    <div class="col-md-7"></div>
    <div class="col-md-3 mb-md-4">
        <%= paginate @groups %>
    </div>
    <div class="col-md-2"></div>
  </div>


</div>
