<div class='col-md-8 offset-md-1'>
  <div><%=link_to "グループを作成する", new_group_path %></div>


<h2>参加しているグループ一覧</h2>

<% if @groups.count == 0 %>
  <%= @groups_none %>
<% else %>

  <%= render "index", groups: @groups %>

<% end %>
</div>