<div class="container">
  <div class="row mt-md-5">

    <div class="col-md-3">
      <%= render "public/end_users/sidebar", end_user: @end_user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="mb-md-5">
        <h4>新しいメモを書く</h4>
      </div>
      <%= render "categories", categories: @categories %>

      <div>
        <%#= link_to "おすすめのカテゴリを見てみる", posts_category_options_path, class: "btn btn-outline-success btn-sm form" %>

        <%#= form_with model: @post, url: posts_category_options_path, local: true do |f| %>
        <%#= f.hidden_field :image, :value => @post.image.id %>
        <%#= f.submit "おすすめのカテゴリを見てみる", class: "btn btn-success" %>
        <%# end %>

        <%# @category_options.each do |option| %>
          <%#= @post.option %>
        <%# end %>
      </div>

      <%= render "form", post: @post, url: posts_path, submit: "メモ作成" %>
    </div>

  </div>
</div>
