<p>
  <%= form_with model: [post, comment], local: false do |f| %>
    <%= f.text_area :comment, rows: '4', cols: '65', placeholder: "コメントをここに入力してください。", class: "form" %>
    <%= f.submit "送信", class: "btn btn-outline-info btn-sm form" %>
  <% end %>
</p>
