<div class="container">
  <div class="row mt-md-5">


    <div class="col-md-3">
      <%= render "public/end_users/sidebar", end_user: @end_user %>
    </div>


    <div class="col-md-6 offset-md-1">
      <div class="mb-md-5">
        <h4>カテゴリ一覧</h4>
      </div>

      <% if @categories.present?%>
        <% last_category = nil %>
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <td>カテゴリ名</td>
              <!--<th></th>-->
            </tr>
          </thead>
          <% @categories.each do |category| %>
            <% if category != last_category %>
            <tbody>
              <tr>
                <td valign="middle">&emsp;&emsp;<%= category.name %></td>
                <!--<td align="middle">-->
                  <%#= link_to edit_category_path(category), class: "btn-flat-simple" do %>
                    <!--<i class="fa fa-caret-right"></i>&nbsp;編集-->
                  <%# end %>
                <!--</td>-->
                <!--編集機能を使用すると、他の人の登録したカテゴリ名も変更になってしまうというエラーが起きているため、一旦機能を封印-->
              </tr>
            </tbody>
            <% end %>
            <% last_category = category %>
          <% end %>
        </table>
      <% else %>
        <p>登録されたカテゴリがありません。</p>
      <% end %>
    </div>


    <div class="col-md-2"></div>
  </div>
</div>







<%#= form_with model: @category, url: categories_path, method: :post do |f| %>
  <%#= f.label :name, "カテゴリ名" %>
  <%#= f.text_field :name, placeholder: "20文字以内" %>
  <%#= f.submit "新規登録", class: "btn btn-primary" %>
<%# end %>

