@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=New+Tegomin&family=Tsukimi+Rounded&display=swap');




// ノート風の背景部分
.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}

.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px,
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px,
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px,
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px,
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),

    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px,
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px,
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px,
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px,
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}



// 全体のフォント
p, h2, h3, h4, h5, li, .form, table, span {
  font-family: 'Kaisei Opti', serif;
}



// ヘッダー部分
.nav-item {
  list-style: none;
}

.search_glass {
  color: #808080;
}

.sign_out {
  color: #808080;
}



// 会員側
// TOP画面
#post_images {
  float: left;
}

.btn-circle-border-double {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  font-size: 20px;
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}



// カード (新規投稿・編集フォーム) 部分
#card_form {
  background-color: #f9fcff;
}



/*カテゴリ一覧・グループ一覧(全て&参加済)の編集ボタン部分*/
.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
}

.btn-flat-simple:hover {
  background: #00bcd4;
  color: white;
}



// グループ新規作成ボタン
.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #a3d1ff;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}



// 全グループ一覧画面・参加済グループ一覧画面
.group_name {
  font-size: 20px;
}



// グループ情報(詳細)画面
#group_image_pin {
  text-align: center;
  color: #808080;
}

#group_member {
  padding-left: 0;
}

#group_member_list {
  list-style: none;
}



// グループチャット画面のメッセージ部分
.chat_box {
    padding: 0.5em 1em;
    margin: 10px 0;
    color: #232323;
    background: #fff9f9;
    border-left: solid 8px #ffe5e5;
}

.chat_box p {
    margin: 0;
    padding: 0;
}

.chat_end_user_image {
  margin-bottom: 0;
}





// 管理者側
// TOP画面
#admin_top {
  font-size: 20px;
}



// メモ詳細・グループ詳細画面
.admin_show {
  font-size: 18px;
}

