/*見出し「マイページ」の部分*/
.mypage {
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  font-size: 18px;/*フォントサイズ*/
  color: #FFF;/*フォントカラー*/
  background: #a6d3c8;/*リボンの色*/
}

.mypage:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);/*折り返し部分*/
}




/*ニックネームと自己紹介の部分*/
.nickname {
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.nickname:before, .nickname:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  /*background-color: black;*/
  background-color: #808080;
}

.nickname:before {left: 10px;}
.nickname:after {right: 10px;}
.nickname p {
  margin: 0;
  padding: 0;
}




/*サイドバー内のメニューリスト部分*/
.side_menu {
  padding: 0;
}

.side_menu .menu {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #dbebf8;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

.side_menu .menu:before{
  display:inline-block;
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}



/*プロフィール編集ボタン部分*/
.setting {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}

.setting p {
  margin: 0;
  padding: 0;
}

.setting_btn {
  color: #c0c0c0;
}



.memo_pin {
  text-align: center;
  color: #808080;
}


.card-deck {
  display: flex;
}